<h1>Your Contacts</h1>
<br>
  <% if current_user %>
    <% @contacts.each do |contact| %>
      <div>
        First Name: <h1><%= contact.first_name %></h1>
      </div>
      <div>
        Last Name: <h1><%= contact.last_name %></h1>
      </div>
      <div>
        Email: <h1><%= contact.email %></h1>
      </div>
      <div>
        Phone Number: <h1><%= contact.phone_number %></h1>
      </div>
    <% end %>
  <% end %>

